@font-face {
  font-family: "sora";
  src: url(../assets/fonts/Sora-VariableFont_wght.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url(../../assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root{
  --white: #E5DEDE;
  --black: #000000;
  --red: #B61010;
}

#logo {
  width: 110px;
  padding-left: 70px;
}

body{
  background: #FFFFFF;
}

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px 77px 0px;
}

.home-button{
  font-family: 'poppins';
  color: #ffffff;
  font-size: 1.2rem;
  padding: 12px 58px;
  background: #B61010;
  border-radius: 60px;
  transition: all 0.3s;
}

.home-button:hover{
  background: #8b0f0f;
}

.menu{
  display: none;
  cursor: pointer;
}

.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: #E5DEDE;
  margin: 5px auto;
  transition: 0.3s;
}

.navigation{
  display: flex;
  justify-content: space-between;
  padding: 7px 0px ;
  width: 100%;
  background: var(--red);
  transition: all 0.5s;
  position: fixed;
}

.navigation ul{
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding-right: 100px;
}

.navigation ul li a{
  color:#E5DEDE;
  font-size: 17px;
  font-family: 'sora';
  font-weight: bold;
  transition: all 0.2s;
}

.navigation ul li a:hover{
  color: #ADA4A4;
}

.navigation i{
  cursor: pointer;
  font-size: 1.9rem;
  padding-left: 16px;
}

.text{
  max-width: 37rem;
}

.text .text-first-title{
  font-family: 'sora';
  font-size: 1rem;
  font-weight: bold;
  color: #B61010;
  margin-bottom: 1rem;
}

.text .text-second-title{
  font-family: 'sora';
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
}

.text p{
  font-family: 'sora';
  color: #000000;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}